{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
{% block head %}
{% endblock %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/explanations/explanations.css' %}">
    <!--<link rel="stylesheet" href="{% static 'css/account/helptext.css' %}">-->
    <!--<link rel="stylesheet" href="{% static 'css/account/authentication.css' %}">-->

    <title>{% block title %}{% endblock %}</title>
     {% tailwind_css %}
</head>

<header>{% block header %}{% endblock %}</header>

<body class="body">
<nav id="nav">
    <li class="link"><a href="/">Accueil</a></li>
    <li class="link"><a href="/explanations">Explications</a></li>
    {% if user.is_authenticated %}
        <li class="link"><a href="{% url 'account:profile' %}">Profile</a></li>
        <li class="link"><a href="/account/logout">Deconnexion</a></li>
    {% else %}
        <li class="link"><a href="/account/login">Connexion</a></li>
        <li class="link"><a href="/account/signup">Inscription</a></li>

    {% endif %}
</nav>

    {% block body %}{% endblock %}
<script src="{% static 'js/htmx.min.js' %}"></script>
</body>
<footer>{% block footer %}{% endblock %}</footer>
</html>